.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: center;

    position: relative;
    top: -20%;
}

.socials-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}