@import url('https://fonts.google.com/specimen/Open+Sans');

#nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    transition: transform 0.3s;
}

#nav li {
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    font-family: 'Open Sans';
}

.depth-0 {
    width: 180px;
    font-size: 30pt
}

.depth-1 {
    width: 140px;
    font-size: 25pt
}

.depth-2 {
    width: 120px;
    font-size: 20pt
}

.depth-3 {
    width: 100px;
    font-size: 15pt
}