#nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    transition: transform 0.3s;
}

#nav li {
    width: 80px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.depth-0 {
    background-color: peru
}
.depth-1 {
    background-color: purple
}

.depth-2 {
    background-color: blue
}